
/* =========================
   SUVARNA JEWELLERS V2.0
   Luxury Intro
========================= */

#luxury-intro{
    position:fixed;
    inset:0;
    width:100%;
    height:100vh;
    background:#050505;
    display:flex;
    justify-content:center;
    align-items:center;
   flex-direction: column;
   text-align: center;
    z-index:99999;
    overflow:hidden;
    transition:opacity .8s ease, visibility .8s ease;
}

#luxury-intro.hide{
    opacity:0;
    visibility:hidden;
}

.intro-content{
    text-align:center;
    padding:20px;
   position: relative;
z-index: 2;
    animation:introFade 1.2s ease;
}

.intro-logo{
    display:block;
    width:180px;
    height:auto;
    margin:0 auto;
    padding:0;
}

.intro-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    position:relative;
    z-index:2;
}
.intro-content p{
    margin-top:14px;
    color:#f4e7b0;
    font-size:18px;
    letter-spacing:.8px;
}

#luxury-intro::before{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    border-radius:50%;
    background:radial-gradient(circle,
        rgba(212,175,55,.15) 0%,
        rgba(212,175,55,.05) 45%,
        transparent 75%);
    animation:pulseGlow 4s infinite;
    z-index:1;
}

@keyframes introFade{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes logoFloat{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-6px);
    }

}

@keyframes pulseGlow{
    0%,100%{
        transform:scale(.9);
        opacity:.35;
    }

    50%{
        transform:scale(1.15);
        opacity:.7;
    }
}

@media(max-width:768px){

    .intro-logo{
        width:135px;
    }

    .intro-content h2{
        font-size:21px;
    }

    .intro-content p{
        font-size:15px;
    }

}
