body {
    margin: 0;
    font-family: "Georgia", serif;
    background: #2b0015;
    color: #ffffff;
    text-align: center;
}

header {
    padding: 40px 20px;
    background: #1a000d;
    border-bottom: 1px solid #d4af37;
}

header h1 {
    color: #d4af37;
    font-size: 38px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

header p {
    color: #f5e6b8;
    font-size: 18px;
}


.hero {
    padding: 80px 20px;
    background: linear-gradient(
        rgba(43,0,21,0.9),
        rgba(43,0,21,0.9)
    );
}

.hero h2 {
    color: #d4af37;
    font-size: 34px;
}

.hero p {
    font-size: 20px;
    color: #ffffff;
}


.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 30px;
    background: #d4af37;
    color: #2b0015;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
}


/* Premium Jewellery Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 45px 20px;
}

.gallery h2 {
    grid-column: 1 / -1;
    color: #d4af37;
    font-size: 32px;
}


.product-card {
    background: #1a000d;
    border: 1px solid #d4af37;
    border-radius: 18px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(212,175,55,0.25);
}


.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}


.product-card h3 {
    color: #f5e6b8;
    font-size: 18px;
    margin-top: 15px;
}


.about,
.trust {
    padding: 45px 20px;
}


.about h2,
.trust h2 {
    color: #d4af37;
    font-size: 30px;
}


.about p,
.trust p {
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
    font-size: 18px;
}


footer {
    padding: 25px;
    background: #1a000d;
    color: #d4af37;
}


@media(max-width:600px){

    .gallery {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 30px;
    }

    .hero h2 {
        font-size: 28px;
    }

    }
