/* ======================================
   SUVARNA JEWELLERS V8
   RESET.CSS
====================================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
    -webkit-text-size-adjust:100%;
}

body{
    min-height:100vh;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

img,
picture,
video,
canvas,
svg{
    display:block;
    max-width:100%;
}

img{
    height:auto;
}

video{
    width:100%;
    height:auto;
}

a{
    text-decoration:none;
    color:inherit;
}

ul,
ol{
    list-style:none;
}

button,
input,
textarea,
select{
    font:inherit;
    border:none;
    outline:none;
    background:none;
}

button{
    cursor:pointer;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

textarea{
    resize:vertical;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button{
    display:none;
}

:focus-visible{
    outline:2px solid #d4af37;
    outline-offset:2px;
}

::selection{
    background:#d4af37;
    color:#2b0015;
  }
